<?xml version="1.0" encoding="utf-8" ?>
[% USE Scalar %]
[% USE Dumper %]

[% BLOCK hardcoded_items %]
    [% FOREACH prefilled_onderwerp = onderwerpen %]
        [% PROCESS behandelvoorstel_display 
            onderwerp = prefilled_onderwerp
            hardcoded_unique_id = zaak.id _ '_' _ prefilled_onderwerp
            SoortAgendapunt = 'hardcoded'
        %]
        [% order_nr = order_nr + 1 %]
    [% END %]
    [% onderwerp = '' %]
    [% hardcoded_unique_id = '' %]
[% END %]


[% BLOCK related_items %]
    [% FOREACH relation_view = zaak.zaak_relaties %]
        [% behandelvoorstel_zaak = relation_view.case %]
        [% id = behandelvoorstel_zaak.id %]

        [% NEXT UNLESS published_related_ids.$id %]

        [% PROCESS behandelvoorstel_display %]
        [% order_nr = order_nr + 1 %]
    [% END %]
[% END %]



[% BLOCK behandelvoorstel_display %]
      <Behandelvoorstel_en_Agendapunten 
        [% UNLESS publish %]oId="[% IF hardcoded_unique_id %][% hardcoded_unique_id %][% ELSE %][% behandelvoorstel_zaak.uuid %][% END %]"[% END %] 
        orderNr="[% order_nr %]" access="public">

        [% IF publish %]        
            <regdatum displayValue="[% #behandelvoorstel_zaak.registratiedatum %]" />
            <registratiekenmerk>[% IF behandelvoorstel_zaak %][% behandelvoorstel_zaak.uuid %][% ELSE %][% hardcoded_unique_id %][% END %]</registratiekenmerk>
            <onderwerp>[% IF onderwerp %][% onderwerp %][% ELSE %][% behandelvoorstel_zaak.value_by_magic_string({magic_string => 'bbv_onderwerp', required => 1}) | xml %][% END %]</onderwerp>
            <EDMSdocmanid>[% IF behandelvoorstel_zaak %][% behandelvoorstel_zaak.uuid %][% ELSE %][% hardcoded_unique_id %][% END %]</EDMSdocmanid>            
            [% file_id = behandelvoorstel_zaak.value_by_magic_string({magic_string => 'publicatiedocument', required => 1}) %]
            [% IF file_id %]
                [% filename = behandelvoorstel_zaak.files_rs.find(file_id).filestore_id.uuid _ '.pdf' %]
                <document file="[% filename %]" />              
            [% END %]
            <SoortAgendapunt displayValue="[% IF hardcoded_unique_id %]Hardcoded link[% ELSE %]Behandelvoorstel[% END %]" />
            <trefwoord>[% behandelvoorstel_zaak.value_by_magic_string({magic_string => 'behandelvoorstel_trefwoord'}) %]</trefwoord>      
        [% END %]

        <Bijlagen>
            [% documents = behandelvoorstel_zaak.files_rs.search %]
            [% FOREACH document = documents %]
                [% NEXT IF document.deleted %]
                [% FOREACH cd = document.case_documents %]
                    [% NEXT IF cd.case_document_id.bibliotheek_kenmerken_id.magic_string == 'publicatiedocument' %]
                [% END %]
                [% NEXT UNLESS published_file_ids.item(document.id) %]

                <Documenten oId="[% document.filestore_id.uuid %]" access="internal">    
                    [% IF publish %]
                        <document file="[% document.filestore_id.uuid %].pdf" />
                        <EDMSdocmanid>[% document.filestore_id.uuid %]</EDMSdocmanid>
                        [% IF document.metadata_id.description %][% onderwerp = document.metadata_id.description %][% ELSE %][% onderwerp = document.name _ '.pdf' %][% END %]
                        <onderwerp><![CDATA[[% onderwerp %]]]></onderwerp>
                        <registratiekenmerk>[% document.id %]</registratiekenmerk>
                    [% END %]
                </Documenten>
            [% END %]
        </Bijlagen>
      </Behandelvoorstel_en_Agendapunten>
[% END %]



<[% IF publish %]publish[% ELSE %]unpublish[% END %]>  
  <Vergaderingen_Bestuurlijk id="[% zaak.uuid %]" access="public">
    [% IF publish %]
        <datum displayValue="[% zaak.value_by_magic_string(magic_string => 'vergader_datum', required => 1) | xml %]" />
        <tijdstip>[% zaak.value_by_magic_string({magic_string => 'vergader_tijdstip', required => 1}) | xml %]</tijdstip>
        <lokatie>[% zaak.value_by_magic_string({magic_string => 'vergader_lokatie', required => 1}) | xml %]</lokatie>
        <vergaderklasse access="public">[% zaak.value_by_magic_string({magic_string => 'vergader_klasse'}, required => 1) | xml %]</vergaderklasse>
    [% END %]
    <Behandelvoorstel_en_Agendapunten>
      [% order_nr = 1 %]
        [% PROCESS hardcoded_items %]
        [% PROCESS related_items %]
    </Behandelvoorstel_en_Agendapunten>
  </Vergaderingen_Bestuurlijk>
</[% IF publish %]publish[% ELSE %]unpublish[% END %]>
