.about-modal{
	width: 500px;
	height: 600px;
	background: none;
	box-shadow: none;

	.zs-modal-content{
		overflow: hidden;
	}
	
	ul{
		padding: 20px;

		li{
			margin-bottom: 30px;
		}
	}

	img{
		display: block;
		margin: 0 20px 20px 20px;
	}

	p{ 
		margin: 0;
		word-break: break-all;
		strong{
			display: inline-block;
			width: 100px;
		}
	}

	table{
		table-layout: fixed; 
		width: 100%;
		padding-bottom: 50px;
		
		td{
			padding: 0 15px 0 0;
			word-wrap: break-word;
			vertical-align: top;

			&.label{
				width: 125px;
			}
		}

	}

}
