.pip-login{
    h1{
        margin-bottom: 15px;
        font-size:2.154em;
        color: #000;
        padding: 10px 20px 20px;
        text-align: left;
        font-weight: normal;
    }
    .pip-login-block-header{
        font-size:1.385em;
        text-transform: none;
        color: #000;
        border-bottom: none;
        font-weight: bold;
        text-align: left;
        margin:0 0 15px;
    }
    .pip-login-block{
        width: 49%;
        float: left;
        padding: 30px 35px;
        background: #f0f6f9;
        &.pip-login-block-left{
            margin-right:2%;
        }
    }
    .pip-login-block-content{
        padding: 0;
        p{
            line-height: 1.6;
        }
        .button{
            width:100%;
            margin:0 0 20px;
            color:#fff;
        }
    }
}