.notificatie_name{
    width:350px;
}

.notificatie-preview .notificatie-header .line {
border-bottom:1px #eee solid; 
line-height:3 }

.notificatie-preview .notificatie-header .line strong {
width:90px; 
float:left; }

.notificatie-preview .message{ padding: 10px 0 0; }

.notificatie-preview .message-content{
    font-family: courier;
    padding: 5px 0 0; 
}
