  <select name="[% kenmerk_name %]">
     [% FOREACH kenmerk_index IN milestone.elementen.notificaties.keys.nsort %]
          [% mnotificatie = milestone.elementen.notificaties.$kenmerk_index %]
          <option value="[% kenmerk_index %]" bla="[% mnotificatie.id %]"
             [% IF kenmerk_index == value %]
              selected="selected"
             [% END %]
          >[% c.model('DB::BibliotheekNotificaties').find(mnotificatie.bibliotheek_notificaties_id).label %]</option>
      [% END %]
  </select>