[% status_fieldname = fieldname _ '_status' %]

<div>
    <div>Internetkassa:</div>
    <div>
        <select name="regels_[% status_fieldname %]">
            <option value="1" [% IF params.$status_fieldname == '1' %]selected="selected"[% END %]>Inschakelen</option>
            <option value="0" [% IF params.$status_fieldname == '0' %]selected="selected"[% END %]>Uitschakelen</option>
        </select>
    </div>
</div>
