[% veldoptietype = params.type -%]
<div id="kenmerk_definitie">
    <form action="[% c.uri_for('/' _ c.req.path) %]">
        <input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]" />
        <input type="hidden" name="update" value="1" />
        <input type="hidden" name="rownumber" value="[% rownumber %]" />
        <input type="hidden" name="kenmerken_is_group" value="0" />
        <table class="table_zaakinformatie table-form" id="kenmerk_template">
            <tbody>
                <tr>
                    <td class="td-label">Titel van het tekstvak</td>
                    <td class="td-field">
                        <input type="text" name="kenmerken_label" value="[% params.label | html %]" class="input_large">
                    </td>
                </tr>
                <tr>
                    <td class="td-label">Inhoud van het tekstvak</td>
                    <td class="td-field">
                        <input type="hidden" class="zs-rich-text-editor" value="[% params.properties.text_content | html %]" features="bold italic underline bullet ordered header link" name="kenmerken_text_content" />
                    </td>
                </tr>
                <tr>
                    <td class="table_td_left_zaakinformatie">Toon tekstvak in PIP</td>
                    <td class="table_td_right_zaakinformatie">
                        <input type="checkbox" name="kenmerken_pip" value="1"[% (params.pip ? ' checked' : '') %]>
                    </td>
                </tr>
            </tbody>
            <table>
            <div class="form-actions">
        <input type="submit" value="Opslaan" class="button button-primary">
        </div>
    </form>
</div>
