<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting schakelt de extra zoekknop in het aanvrager dialoog in.',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>Aanvrager externe zoekfunctie - ingeschakeld</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="requestor_search_extension_active" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>