<table class="table_zaakinformatie">
    <tr>
        <td class="table_td_left_zaakinformatie">Type:</td>
        <td class="table_td_right_zaakinformatie">[% brontype.${betrokkene.btype} %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Bron:</td>
        <td class="table_td_right_zaakinformatie">[% !betrokkene.authenticated ? 'Zaaksysteem' : broninfo.${betrokkene.btype} %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Status:</td>
        <td class="table_td_right_zaakinformatie">[% (betrokkene.is_active ? 'Actief' : 'Inactief') %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Voornaam:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.voornamen %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Achternaam:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.geslachtsnaam %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Telefoonnummer:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.telefoonnummer %]</td>
    </tr>
    [% IF betrokkene.title -%]
    <tr>
        <td class="table_td_left_zaakinformatie">Functie:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.title %]</td>
    </tr>
    [% END -%]
    <tr>
        <td class="table_td_left_zaakinformatie">Organisatorische eenheid:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.org_eenheid.name %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">E-mail:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.email %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Rollen:</td>
        <td class="table_td_right_zaakinformatie">
            [% IF betrokkene.ldap_rs.roles.size %]
                <ul>
            [% END %]
            [% FOREACH role IN betrokkene.ldap_rs.roles %]
                [%
                parent_groups = [];
                FOREACH parent_group IN role.parent_groups;
                    parent_groups.push(parent_group.name);
                END;
                %]
                    <li>
                        <strong>[% role.name %]</strong>
                        [% IF role.parent_groups %] ([% parent_groups.join('/') %])[% END %]
                    </li>
            [% END %]            
            [% IF betrokkene.ldap_rs.roles.keys.size %]
                </ul>
            [% END %]
        </td>
    </tr>
</table>
