[% IF wgt_config.post_button && !pip %]
<form
    method="POST"
    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
    class="submitWaiter"
    >
    <input type="hidden" name="referer" value="[% c.req.uri %]" />
[% END %]
<div class="grid-table form">
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Authentiek:</div>
        <div class="column large-8">
            [% IF betrokkene.authenticated %]
                <i class="icon icon-graphic icon-betrokkene-gm"></i>
            [% ELSE %]
                <i class="icon icon-graphic icon-betrokkene-zs"></i>
            [% END %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Bron:</div>
        <div class="column large-8">
            [% IF is_active %]
              [% IF betrokkene.authenticated %]
                  GBA
                  [% IF betrokkene.subscription_id %]
                      (Afnemerindicatie (sleutelVerzendend): [% betrokkene.subscription_id.external_id %])
                  [% END %]
              [% ELSE %]
                  [% betrokkene.authenticatedby %]
              [% END %]
            [% ELSE %]
            -
            [% END %]
        </div>
    </div>
    [% END %]
    <div class="row">
        <div class="column large-4"><label>BSN:</label></div>
        [%- bsn = betrokkene.burgerservicenummer;
            IF !bsn;
                bsn = '-';
            ELSE;
                bsn = bsn FILTER format('%09d');
            END;
        %]
        <div class="column large-8">[% bsn %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Voornamen:</label></div>
        <div class="column large-8">[% betrokkene.voornamen || "-" %]</div>
    </div>

    <div class="row">
        <div class="column large-4"><label>Tussenvoegsels:</label></div>
        <div class="column large-8">[% betrokkene.voorvoegsel || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Geslachtsnaam:</label></div>
        <div class="column large-8">[% betrokkene.geslachtsnaam || "-" %]</div>

    </div>
    <div class="row">
        <div class="column large-4"><label>Naamgebruik:</label></div>
        <div class="column large-8">[% betrokkene.achternaam || "-" %]</div>

    </div>
    <div class="row">
        <div class="column large-4"><label>Geboortedatum:</label></div>
        <div class="column large-8">[% betrokkene.geboortedatum.dmy || "-" %]</div>
    </div>
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Overlijdensdatum:</label></div>
        <div class="column large-8">[%
            betrokkene.datum_overlijden.dmy || "-" %]</div>
    </div>
    [% END %]
    <div class="row">
        <div class="column large-4"><label>Geslacht:</label></div>
        <div class="column large-8">[% (betrokkene.geslachtsaanduiding == 'M' ? 'Man' : 'Vrouw') || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Binnengemeentelijk:</label></div>
        <div class="column large-8">[% (betrokkene.in_gemeente ? 'Ja' : 'Nee') || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Land:</label></div>
        <div class="column large-8">[% betrokkene.country || "-" %]</div>
    </div>
    [% IF betrokkene.landcode == 6030 %]
    <div class="row">
        <div class="column large-4"><label>Briefadres:</label></div>
        <div class="column large-8">[% betrokkene.functie_adres == 'B' ? 'Ja' : 'Nee' %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label><strong>Verblijfsadres:</strong></label></div>
        <div class="column large-8"></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Straatnaam:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_straatnaam || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummer:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisnummer || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisletter:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisletter || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummertoevoeging:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisnummertoevoeging || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Postcode:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_postcode || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Woonplaats:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_woonplaats || "-" %]</div>
    </div>
    [% IF betrokkene.functie_adres == 'B' %]
    <div class="row">
        <div class="column large-4"><label><strong>Correspondentieadres:</strong></label></div>
        <div class="column large-8"></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Straatnaam:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_straatnaam || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummer:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisnummer || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisletter:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisletter || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummertoevoeging:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisnummertoevoeging || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Postcode:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_postcode || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Woonplaats:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_woonplaats || "-" %]</div>
    </div>
    [% END %]
    [% ELSE %]
    <div class="row">
        <div class="column large-4"><label>Adresregel 1:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland1 || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 2:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland2 || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 3:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland3 || "-" %]</div>
    </div>
    [% END %]
    [% IF is_active %]
    <div class="row">
        <div class="column large-4"><label>Nummer vaste telefoon:</label></div>
        <div class="column large-8"><input type="text" name="npc-telefoonnummer" class="infinite" value="[% betrokkene.telefoonnummer %]"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Nummer mobiele telefoon:</label></div>
        <div class="column large-8"><input type="text" name="npc-mobiel" class="infinite" value="[% betrokkene.mobiel %]"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>E-mail:</label></div>
        <div class="column large-8"><input type="text" name="npc-email" class="infinite" value="[% betrokkene.email %]"><span class="validator"></span></div>
    </div>
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Interne notitie:</label></div>
        <div class="column large-8"><input type="text" name="npc-note" class="infinite" value="[% betrokkene.note %]"><span class="validator"></span></div>
    </div>
    [% END %]
    [% END %]
</div>
    [% IF wgt_config.post_button && is_active %]
    <div class="form-actions">
         <input type="submit" value="Opslaan" class="button button-primary">    
    </div>       
    [% END %]
[% IF wgt_config.post_button %]
</form>
[% END %]
