@import "../partials/dependencies";

$template-type:open;

$primary-color:#2C4592;
$secondary-color:#B1C801;
$tertiary-color:#DC241F;
$button-id-bg-color: #333;

$logo-url: "../../form/lingewaard/img/logo-lingewaard.png";
$logo-width:280px;
$logo-height:100px;
$logo-margin:0;
$logo-bg-size:cover;
$header-height:138px;
$header-padding:1em;
$header-bg:$primary-color;

$button-primary-bg:$primary-color;
$button-primary-color:white;
$button-in-title-color:$primary-color;
$button-in-title-underline:underline;
$border-radius:2px;

$anchor-color:$primary-color;
$anchor-color-hover:#333;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family: 'Open Sans', sans-serif;
$font-size:100%;
$template-width:100%;
$template-type-open-width:1100px;

$container-border:none;
$container-margin: 0 auto -290px !important;

$content-padding:0px 0 20px;
$mobile-content-padding:0px 13px 20px;

$pip-nav-background-color:transparent;
$pip-nav-border-color:$secondary-color;
$pip-nav-border-color-active:rgba(255,255,255,.5);

$pip-nav-anchor-color:#999;
$pip-nav-anchor-color-active:$primary-color;
$pip-nav-anchor-color-hover:#333;
$pip-nav-bg-active:transparent;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:transparent;
$pip-nav-font-weight:500;
$toggle-pip-nav-color:#000;
$pip-nav-border-weight:0;

$pip-progress-bar-bg:lighten($primary-color,45%);
$pip-progress-bar-percentages:$primary-color;

$pip-phase-title-bg:#eee;
$pip-phase-title-border:#eee;

$pip-phase-title-bg-hover:#ddd;
$pip-phase-title-border-border:#ddd;

$pip-phase-title-current-bg:#eee;
$pip-phase-title-current-bg-hover:#eee;
$pip-phase-title-color:#000;

$title-text-color:$primary-color;
$title-bg-color:white;
$title-font-size:2.8rem;
$title-font-weight:normal;
$title-padding-top:1.5em;
$title-padding-bottom:1.75em;
$title-padding-right:20px;
$title-padding-left:20px;

$heading1-color:$primary-color;
$heading1-fontsize: 2.8rem;
$heading1-weight:normal;

$heading2-color:$primary-color;
$heading2-fontsize:1.4rem;;
$heading2-weight:600;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#container::after{
	content:'';
	height:260px;
	display: block;
}

header{
	width:100%;
	max-width:100%;
	border-bottom: solid 4px #0061ae;
	.inner{
		max-width:1170px;
		margin:0 auto;
	}
}

#main{
	padding:70px 0px;
}

.pip-nav{
	padding-top:.5rem;
	margin-bottom:1rem;
}

.pip-nav ul li a{
	padding:1em 1.5em 1em 0;
	display: flex;
	align-items:center;
}

.pip-nav ul li a i{
	font-size:1.4em;
	margin-right:7px;
}

.pip-nav ul li.current a{
	font-weight: bold;
}

.pip-case-form-phase-title{
	font-weight: normal;
}

.pip-login{
	padding-top:0;
}
       


// bovenbalk

#header {
    height: 100%;
}

#topbar {
    float: left;
    width: 100%;
}

#topbar .logo{
	border-right:none;
}

.nav-container{
	margin:0;
	padding:0;
	display: none;
}

.container {
    max-width: 1100px;
}

.container {
    position: relative;
    width: 96%;
    padding: 0 2%;
    margin: auto;
    overflow: hidden;
}

#topbar #header-navigation {
    transition: all 0.2s ease-in-out 0s;
    height: 4em;
    position: fixed;
    z-index:100;
}

#header-navigation {
    z-index: 1;
    top: 0;
    width: 100%;
    height: 3em;
    background: #2C4592;
}

#topbar .mediamenu {
    padding: 1.5em 0;
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    display: inline;
}

#topbar .logo {
    float: left;
    //border-right: 1px solid rgba(255, 255, 255, 0.4);
}

#topbar .logo a {
    display: block;
    transition: all 0.2s ease-in-out 0s;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    padding: 1.35em 2em;
    padding-left: 3em;
    position: relative;
}

#topbar .logo a:hover {
    text-decoration: underline;
}

#topbar .logo a img {
    position: absolute;
    top: 11px;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.2s ease-in-out 0s;
}
h1.home {
    text-indent: -9999px;
    background:url("../../form/epe/img/logo-tekst.png");
    background-size:cover;
    width:160px;
    height:21px;
    margin:0;
}

#header-navigation #nav {
    text-transform: uppercase;
    display: inline-block;
    float: none;
}

#header-navigation #nav li.medium {
    display: inline-block;
    line-height: 1;
    position: relative;
}

#header-navigation #nav li.medium:hover > a {
    background: #fff;
    color: #2C4592;
    border-color: #2C4592 !important;
}

#topbar #header-navigation #nav li.medium > a {
    transition: all 0.2s ease-in-out 0s;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

#header-navigation #nav li.medium > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 1.31em 2em;
}

#header-navigation #nav li.medium .blocknavigation {
    clear: none;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    position: absolute;
    top: -9999px;
    width: 0;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#header-navigation #nav li.medium.feedback > a {
    color: #B1C800;
}

// footer

footer {
    width: 100%;
    float: left;
}

#footer_wrapper {
    color: #2C4592;
}

.homepage .back-top.next, .portal .back-top.next {
    top: -99999em;
}
.back-top {
    top: 0;
    display: block;
}
.back-top, .scroll-down {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 4;
    display: block;
    height: 50px;
    bottom: 0;
}
.nextpage .back-top a span {
    color: #fff;
}

.back-top a span, .scroll-down a span {
    font-size: 2.5em;
    height: 50px;
    width: 230px;
    background: none;
    color:#fff;
}
.back-top a span.btn_down_title, .back-top a span.btn_up_title, .scroll-down a span.btn_down_title, .scroll-down a span.btn_up_title {
    font-size: 0;
}

#footer_wrapper a {
    color: #2C4592;
}

.back-top a {
    background: url(../../form/epe/img/scroll_up_nextpage.png);
}
.back-top a, .scroll-down a {
    height: 50px;
    width: 230px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
}

.footer-wrap.footerinfo {
    background-color: #fff;
    width: 100%;
    padding: 2em 0 1em 0;
    border-top: 10px solid #B1C800;
    position: relative;
}

#footer_wrapper .koppelbox,
#footer_wrapper .wysiwyg {
    float: left;
    width: 20%;
    margin-right: 5%;
    line-height: 1.5em;
}

#footer_wrapper h2, #footer_wrapper h3 {
    color: #2C4592;
    margin-bottom: 0.5em;
    margin-top:0;
}
#dynamicwysiwyg h2, .central h2, .intro h2, .text h2, .wysiwyg h2, .koppelbox h2, .module h2, #aside-loket h2 {
    font-size: 1.2em;
    margin-bottom: .5em;
    width: 100%;
}

#footer_wrapper .wysiwyg p {
    margin: 0 0 1em 0;
    line-height: 1.5em;
}

#footer_wrapper ul, #footer_wrapper .koppelbox ul, #footer_wrapper .koppelboxrow ul {
    margin-left: 0;
    padding-left:0;
    list-style-type: none;
}

footer .koppelbox ul{
	margin:0;
}

footer .koppelboxrow ul li, footer .koppelbox ul li, footer .wysiwyg ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
}

#footer_wrapper .koppelbox a, #footer_wrapper .koppelboxrow a {
    text-decoration: none;
}

#footer_wrapper .koppelbox a:hover, #footer_wrapper .koppelboxrow a:hover {
    text-decoration: underline;
}

footer .koppelbox ul li .mdi{
	color:$secondary-color;
	font-size:1.3rem;
    margin-left: -5px;
    margin-right: 4px;
}

#footer_wrapper a.knop, a.knop, #newswys-items li .intro a.knop, #contactwys-items li .intro a.knop, .openingstijden a.knop {
    display: inline-block;
    clear: right;
    line-height: 1.3em;
    text-decoration: none;
    padding: .4em 1em;
    margin: 0 1em 1em 0;
    border: 3px solid #2C4592;
    background: #2C4592;
    color: #fff;
    border-radius: 2px;
    font-family: "Open Sans", "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#footer_wrapper a.knop:hover, a.knop:hover, #newswys-items li .intro a.knop:hover, #contactwys-items li .intro a.knop:hover, .openingstijden a.knop:hover {
    text-decoration: none;
    transform: scale(1.049, 1.049);
}

#footer_wrapper a.knop.contact .mdi{
    font-size:1.2em;
    margin-left:5px;
}

@media only screen and (max-width: $breakpoint-mobile) {

	#main{
		padding:70px 0;
	}

	.block-header h1{
		font-size: 2rem !important;
	}

	h1{
		font-size:2rem;
	}

	.pip-nav{
		padding-top:0;
	}

	.pip-nav ul li a{
		padding:.5rem 1rem;
	}


}

@media only screen and (max-width: 1132px) {

	.nav-container{
		display: none;
	}	

}

@media only screen and (max-width: 1000px){
	#footer_wrapper .box_1 {
	    padding-top: 1em;
	}
	#footer_wrapper .wysiwyg {
	    padding: 0 6%;
	    margin-bottom: 1em;
	    border-bottom: 1px solid #ccc;
	}
	#footer_wrapper .box_1,
	#footer_wrapper .box_2,
	#footer_wrapper .box_3,
	#footer_wrapper .box_4,
	#footer_wrapper .box_5,
	#footer_wrapper .box_6,
	#footer_wrapper .box_7,
	#footer_wrapper .box_8,
	#footer_wrapper .koppelboxrow li,
	#topbanners li, #news-items li,
	#recent-items li, #newswys-items li,
	#contactwys-items li {
	    width: 100%;
	    text-align: left;
	}
	#footer_wrapper .koppelbox,
	#footer_wrapper .koppelboxrow {
	    padding: 0 6% 1em 6%;
	    margin-bottom: 1em;
	    border-bottom: 1px solid #ccc;
	}
}
