@import "../partials/dependencies";

$template-basic:true;

$logo-url: "../../form/tholen/img/logo.png";
$logo-height:75px;
$logo-margin:0 0 0 20px;

$primary-color: #314973;
$secondary-color: rgb(34, 70, 133);
$tertiary-color: #da2241;

$button-id-bg-color: #333;
$button-id-font-weight:normal;
$button-primary-bg:$tertiary-color;
$button-primary-font-weight:bold;

$anchor-color:$tertiary-color;
$anchor-color-hover:rgb(34, 70, 133);
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;

$font-family:'Open Sans','helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;

$template-width:960px;

$gradient-swatch1:#fff;
$gradient-swatch2:#f9d310;

$heading1-color:$primary-color;

$header-bg:$primary-color;


$pip-nav-border-color:$tertiary-color;
$pip-nav-border-color-active:$tertiary-color;
$pip-nav-border-weight:10px;
$pip-nav-border-color-hover:lighten($primary-color,10%);

$title-font-weight:normal;
$title-bg-color:$primary-color;
$title-padding-right:20px;
$title-padding-left:20px;


$toggle-pip-nav-color:#fff;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

.block-header{
	border-bottom:10px solid $tertiary-color;
}

.contentAnchor:focus{
	border: 0;
 	clip: auto;
  	height: auto;
  	margin: auto;
  	overflow: visible;
  	padding: 0;
  	position: static;
  	z-index:1;
  	background:#da2241;
  	color:#fff;
  	padding:8px 0;
  	display: block;
  	box-sizing:border-box;
  	width:960px;
  	text-align: center;
}

.public-search{
  .widget-search{
    margin-top:-70px;
  }
  .widget-search-result-header-left button{
    font-weight: normal;
  }
  .widget-search-result-display{
    padding-top:12px;
  }
}

a{
  color:$anchor-color;
  &:hover{
    color:$anchor-color-hover;
    text-decoration: underline;
  }
}

@import "template-media-queries";