<div class="input_container">
    <input ng-model="vm.filename" /><span>.docx</span>
</div>
<button 
    ng-disabled="!vm.filename.length" 
    ng-click="vm.confirmFilename()" 
    class="btn btn-secondary"
>
    Opslaan
</button>