<div class="object-list-search">
	
	<zs-icon icon-type="magnify"></zs-icon>

	<form ng-submit="vm.searchObjects()">
		<input
			placeholder="{{vm.getSearchplaceholder()}}"
			ng-model="vm.query"
			ng-change="vm.handleQueryChange()"
			model-options="{ debounce: { default: 250 } }"
		>
		</input>
		<button
			ng-click="vm.searchObjects()"
			class="btn btn-secondary">
				Zoeken
		</button>
	</form>
</div>

<object-list-item-list
	object-items="vm.getItems()"
	on-load-more="vm.onLoadMore()"
>
</object-list-item-list>

<button
	class="btn btn-primary object-list-item-list--loadmore"
	ng-click="vm.onLoadMore()"
	ng-if="!vm.isSearchResult()"
>
	Toon meer
	<zs-spinner is-loading="vm.isLoading()"></zs-spinner>
</button>
