.flexpaper-modal{
	.modal-body{
		position:fixed;
		top:15px;
		left:15px;
		bottom:15px;
		right:15px;
		max-width: none;
	}
	.modal-content{
		position:relative;
		max-height: 100%;
		position:absolute;
		padding:0 !important;
		top:56px;
		left:0;
		right:0;
		bottom:0;
		iframe{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width:100% !important;
			height:100% !important;
			border-width: 0;
		}
	}
}