<div class="confirm-label">
	{{vm.label}}
</div>

<div class="confirm-actions form-actions">

	<button type="button" class="cancel-button btn btn-flat" ng-click="vm.onCancel()">
		Annuleren
	</button>

	<button type="button" class="confirm-button btn btn-flat" ng-click="vm.onConfirm()">
		{{vm.verb}}
	</button>

</div>

